<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href=C:\Users\acer9\dev\Flask\templates\style.css" type="text/css">
</head>
<body>
<header>


    <section>

    <div class="nav">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="/">Главная</a>
        <a class="nav-link" href="/time/">Время</a>
        <a class="nav-link" href="/random/">Число</a>

      </div>
    </div>
  </div>
</nav>
        </div>
    </section>
</header>

<section></section>
<footer></footer>

{% block content %} Загрузка {% endblock %}

</body>
</html>